button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin: 0 2px;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  button:nth-child(1) { /* Botón de sumar */
    background-color: #28a745;
    color: white;
  }
  
  button:nth-child(2) { /* Botón de restar */
    background-color: #dc3545;
    color: white;
  }
  